@import "./utils/variables";

.catalog {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;

  max-width: 944px;
  margin: 0 auto;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $width-card;
    height: $height-card;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: $card-padding;
  }

  &__card:not(:nth-child(4n)) {
    margin-right: $card-padding;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    grid-template-columns: repeat(3, $width-card);
    grid-template-rows: repeat(3, $height-card);
    gap: $card-padding;
  }

  @media (min-width: 488px) and (max-width: 767px) {
    grid-template-columns: repeat(2, $width-card);
    grid-template-rows: repeat(2, $height-card);
    gap: $card-padding;
  }

  @media (max-width: 487px) {
    grid-template-columns: $width-card;
  }
}
